<html>
    <head>
<<<<<<< HEAD
        <link rel="stylesheet" href="public/CSS/style.css">
=======
        <link rel="stylesheet" href="CSS/style.css">
>>>>>>> 2cadc2847fdccc07eeef26c4193a67b29b1e5817
        <title>Account</title>
    </head>
    <style>
        body {
            background-image: url('background.png');
            background-repeat: no-repeat;
            background-size: 100% 290px;
        }

        .account {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        input {
            margin-left: 40%;
            width: 30%;
            border: 2px solid #133C55;
            padding: 10px 10px;
            border-radius: 4px;
            box-sizing: border-box;
        }

        h3 {
            text-align: left;
        }

        h4 {
            margin-left: 55%;
        }

        .apply {
            font-family: "Verdana";
            color: #E0FBFC;
            text-align: center;
            background: #5DA271;
            padding: 5px 10px;
            font-size: 100%;
            width:fit-content;
            margin-left: 40%;
        }

        .collapsible {
            font-family: "Verdana";
            text-align: left;
            padding: 10px 10px 10px 10px;
            font-size: 100%;
            width:80%;
            margin-left: 10%;
        }

        .active, .collapsible:hover {
            background-color:darkgrey;
        }

        .content {
            display: none;
            overflow: hidden;
        }

        .table {
            margin-left: 40%;
        }

        .milk {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .eggs {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .peanuts {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .treenuts {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .fish {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .crustaceans {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .wheat {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .soy {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .sesame {
            background:#5DA271;
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

    </style>
    
    <body>
        <img src="CapstoneLogo.png" style="width:250px;height:250px">
<<<<<<< HEAD
        <button class= "home" onclick="document.location='/'"><b>Home</b></button>
=======
        <button class= "home" onclick="document.location='index'"><b>Home</b></button>
>>>>>>> 2cadc2847fdccc07eeef26c4193a67b29b1e5817
        <button class= "about" onclick="document.location='about'"><b>About</b></button>
        <button class= "account" onclick="document.location='account-signed-in'"><b>Account</b></button>
        <br>
        <br>
        <h1>Hello -username-!</h1>
        <br>
        <hr>
        <button type="button" class="collapsible">Set Allergens</button>
        <div class="content">
            <br>
            <div style="margin-left: 10%">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <button class= "milk" onclick="setPreferenceMilk()"></button>
                        </td>
                        <td>
                            <h3>Milk</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "eggs" onclick="setPreferenceEggs()"></button>
                        </td>
                        <td>
                            <h3>Eggs</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "peanuts" onclick="setPreferencePeanuts()"></button>
                        </td>
                        <td>
                            <h3>Peanuts</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "treenuts" onclick="setPreferenceTreeNuts()"></button>
                        </td>
                        <td>
                            <h3>Tree Nuts</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "fish" onclick="setPreferenceFish()"></button>
                        </td>
                        <td>
                            <h3>Fish</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "crustaceans" onclick="setPreferenceCrustaceans()"></button>
                        </td>
                        <td>
                            <h3>Crustaceans</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "wheat" onclick="setPreferenceWheat()"></button>
                        </td>
                        <td>
                            <h3>Wheat</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "soy" onclick="setPreferenceSoy()"></button>
                        </td>
                        <td>
                            <h3>Soy</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "sesame" onclick="setPreferenceSesame()"></button>
                        </td>
                        <td>
                            <h3>Sesame</h3>
                        </td>
                    </tr>
                </table>
            </div>
            <button class = "apply"><b>Apply</b></button>
        </div>
        <br>
        <hr>
        <div>
            <button class="apply" onclick="resetUsername()"><b>Reset Username</b></button>
        </div>
        <br>
        </body>
        <div>
            <button class="apply" onclick="resetPassword()"><b>Reset Password</b></button>
        </div>
        <br>
        <hr>
        <script>
            function resetUsername() {
                const email = "tawhhp@umsystem.edu";

                fetch('/reset-username', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.strinify({ email })
                })
                .then(responce => responce.json())
                .then(data => {

                    alert(data.message);
                })
                .catch(error => {

                    console.error(error);
                });
            }
        </script>
        <script>
            function resetPassword() {
                const email = "tawhhp@umsystem.edu";

                fetch('/reset-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.strinify({ email })
                })
                .then(responce => responce.json())
                .then(data => {

                    alert(data.message);
                })
                .catch(error => {

                    console.error(error);
                });
            }
        </script>

    </body>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                 if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        
        var milk = true;
        function setPreferenceMilk()
        {
           if (document.querySelector(".milk").style.background = "#5DA271") {
                document.querySelector(".milk").style.background = "#EE6C4D";
                milk = false;
           }
           else if(document.querySelector(".milk").style.background = "#EE6C4D") {
                 document.querySelector(".milk").style.background = "#5DA271";
                milk = true;
            }
           
        } 

        var eggs = true;
        function setPreferenceEggs()
        {
           if (document.querySelector(".eggs").style.background = "#5DA271") {
                document.querySelector(".eggs").style.background = "#EE6C4D";
                eggs = false;
           }
           else if(document.querySelector(".eggs").style.background = "#EE6C4D") {
                 document.querySelector(".eggs").style.background = "#5DA271";
                 eggs = true;
            }
           
        } 

        var peanuts = true;
        function setPreferencePeanuts()
        {
           if (document.querySelector(".peanuts").style.background = "#5DA271") {
                document.querySelector(".peanuts").style.background = "#EE6C4D";
                peanuts = false;
           }
           else if(document.querySelector(".peanuts").style.background = "#EE6C4D") {
                 document.querySelector(".peanuts").style.background = "#5DA271";
                 peanuts = true;
            }
           
        } 

        var treenuts = true;
        function setPreferenceTreeNuts()
        {
           if (document.querySelector(".treenuts").style.background = "#5DA271") {
                document.querySelector(".treenuts").style.background = "#EE6C4D";
                treenuts = false;
           }
           else if(document.querySelector(".treenuts").style.background = "#EE6C4D") {
                 document.querySelector(".treenuts").style.background = "#5DA271";
                 treenuts = true;
            }
           
        } 

        var fish = true;
        function setPreferenceFish()
        {
           if (document.querySelector(".fish").style.background = "#5DA271") {
                document.querySelector(".fish").style.background = "#EE6C4D";
                fish = false;
           }
           else if(document.querySelector(".fish").style.background = "#EE6C4D") {
                 document.querySelector(".fish").style.background = "#5DA271";
                 fish = true;
            }
           
        } 

        var crustaceans = true;
        function setPreferenceCrustaceans()
        {
           if (document.querySelector(".crustaceans").style.background = "#5DA271") {
                document.querySelector(".crustaceans").style.background = "#EE6C4D";
                crustaceans = false;
           }
           else if(document.querySelector(".crustaceans").style.background = "#EE6C4D") {
                 document.querySelector(".crustaceans").style.background = "#5DA271";
                 crustaceans = true;
            }
           
        } 

        var wheat = true;
        function setPreferenceWheat()
        {
           if (document.querySelector(".wheat").style.background = "#5DA271") {
                document.querySelector(".wheat").style.background = "#EE6C4D";
                wheat = false;
           }
           else if(document.querySelector(".wheat").style.background = "#EE6C4D") {
                 document.querySelector(".wheat").style.background = "#5DA271";
                 wheat = true;
            }
           
        } 

        var soy = true;
        function setPreferenceSoy()
        {
           if (document.querySelector(".soy").style.background = "#5DA271") {
                document.querySelector(".soy").style.background = "#EE6C4D";
                soy = false;
           }
           else if(document.querySelector(".soy").style.background = "#EE6C4D") {
                 document.querySelector(".soy").style.background = "#5DA271";
                 soy = true;
            }
           
        } 

        var sesame = true;
        function setPreferenceSesame()
        {
           if (document.querySelector(".sesame").style.background = "#5DA271") {
                document.querySelector(".sesame").style.background = "#EE6C4D";
                sesame = false;
           }
           else if(document.querySelector(".sesame").style.background = "#EE6C4D") {
                 document.querySelector(".sesame").style.background = "#5DA271";
                 sesame = true;
            }
           
        } 

    </script>
</html>