<html>
    <head>
        <link rel="stylesheet" href="CSS/style.css">
        <title>Account</title>
    </head>
    <style>
        .account {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        h3 {
            text-align: left;
        }
        h4 {
            margin-left: 55%;
        }
        .apply {
            margin-left: 40%;
        }
        .collapsible {
            width:80%;
            margin-left: 10%;
        }
        .content {
            display: none;
            overflow: hidden;
        }
        .table {
            margin-left: 40%;
        }
    </style>
    
    <body>
        <img src="Images/MealMatesLogo.png" style="width:250px;height:250px">
        <button class= "home" onclick="document.location='index'"><b>Home</b></button>
        <button class= "about" onclick="document.location='about'"><b>About</b></button>
        <button class= "account" onclick="document.location='account-signed-in'"><b>Account</b></button>
        <br>
        <br>
        <br>
        <h1>Hello!</h1>
        <br>
        <hr>

        <form class="former" action="/comparisons" method="POST">
        <button type="button" class="collapsible"><h3>Set Allergens</h3></button>
        
        <div class="content">
            <br>
            <div style="margin-left: 10%">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class= "milk" name="Milk" onclick="setPrefMilk()" value="i"></input>
                        </td>
                        <td>
                            <h3>Milk</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "eggs" name="Eggs" id="Eggs" onclick="setPrefEggs()"></button>
                        </td>
                        <td>
                            <h3>Eggs</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "peanuts" name="Peanuts" id="Peanuts" onclick="setPrefPeanuts()"></button>
                        </td>
                        <td>
                            <h3>Peanuts</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "treenuts" name="Treenut" id="Treenut" onclick="setPrefTreeNuts()"></button>
                        </td>
                        <td>
                            <h3>Tree Nuts</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "fish" name="Fish" id="Fish" onclick="setPrefFish()"></button>
                        </td>
                        <td>
                            <h3>Fish</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "crustaceans" name="Shellfish" id="Shellfish" onclick="setPrefCrustaceans()"></button>
                        </td>
                        <td>
                            <h3>Crustaceans</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "wheat" name="Wheat" id="Wheat" onclick="setPrefWheat()"></button>
                        </td>
                        <td>
                            <h3>Wheat</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "soy" name="Soy" id="Soy" onclick="setPrefSoy()"></button>
                        </td>
                        <td>
                            <h3>Soy</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class= "sesame" name="Sesame" id="Sesame" onclick="setPrefSesame()"></button>
                        </td>
                        <td>
                            <h3>Sesame</h3>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="submit" class = "apply"><b>Apply</b></button>
        </div>
        <br>
        <hr>
        </form>
        <br>
        <hr>

        <script src="JS/allergens.js"></script>
    </body>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                 if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</html>
