<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel ="stylesheet" href ="CSS/test.css">
        
        <title>Alex Marconescu</title>
        
        </div>
    </head>
    <body>
        <h1 class="register">Login Page</h1>

        <form class="former" action="/owner" method ="POST">
            <div class="">
                <label for="RestaurantNamer" >Restaurant Name?</label>
                <input type="text" id="" name="RestaurantNamer" >
            </div>
            <div class="">
                <label for="Milk">Milk</label>
                <input type="text" id="" name="Milk" >
            </div>
            <div class="">
                <label for="Soy" >Soy</label>
                <input type="text" id="" name="Soy" >
            </div>
            <div class="">
                <label for="Peanuts">Peanuts</label>
                <input type="text" id="" name="Peanuts" >
            </div>
            <div class="">
                <label for="Wheat" >Wheat</label>
                <input type="text" id="" name="Wheat" >
            </div>
            <div class="">
                <label for="Eggs">Eggs</label>
                <input type="text" id="" name="Eggs" >
            </div>
            <div class="">
                <label for="Treenut" >Treenut</label>
                <input type="text" id="" name="Treenut" >
            </div>
            <div class="">
                <label for="Shellfish">Shellfish</label>
                <input type="text" id="" name="Shellfish" >
            </div>
            <div class="">
                <label for="Sesame" >Sesame</label>
                <input type="text" id="" name="Sesame" >
            </div>
            <div class="">
                <label for="Fish">Fish</label>
                <input type="text" id="" name="Fish" >
            </div>
            <section class="submit">
                <button type="submit"> Submit</button>
            </section>
            <div class="stringer" id="stringer">
                
            </div>
            <div class="end">
            
            </div>
        </form>
    </body>

</html>