<html>
    <head>
        <link rel="stylesheet" href="CSS/style.css">
        <title>Account</title>
    </head>
    <style>
        .account {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        h3 {
            text-align: center;
        }

        h5 {
            margin-left: 55%;
        }

        .submit {
            margin-left: 40%;
        }
    </style>
    
    <body>
        <img src="CapstoneLogo.png" style="width:250px;height:250px">
        <button class= "home" onclick="document.location='index'"><b>Home</b></button>
        <button class= "about" onclick="document.location='about'"><b>About</b></button>
        <button class= "account" onclick="document.location='account'"><b>Account</b></button>
        <br>
        <br>
        <h1>Sign In</h1>
        <br>
        <form action="/account-log-in" method="POST">

            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="test" id="password" name="password" required>
            </div>
        <button type="submit"><b>Login</b></button><h5><i>Forgot your password?</i></h5>
        <br>
        <br>
        <br>
        <h3>Don't have an account?</h3>
        <a href="account-sign-up"><h1>Sign Up</h1></a>
        <br>
        <h3>Benefits:</h3>
        <h3>Save allergens</h3>
        <h3>Personalized experience</h3>

    </body>
    <script>
        
    </script>
</html>

<!-- NEEDS TO BE INCLUDED -->
