
h2 {
    font-family: "Quicksand";
    text-align: center;
    color: #E0FBFC;
}

h1 {
    font-family: "Verdana";
    text-align: center;
    color: #551313;
}

h3 {
    font-family: "Verdana";
    text-align: left;
    color: #133C55;
    margin-left: 50px;
}

h4 {
    font-family: "Verdana";
    text-align: left;
    color: #EE6C4D;
    margin-left: 50px;
}

hr {
    height: 3px;
    border-width: 0;
    background-color:#5DA271;
    width: 80%;
}

.home {
    font-family: "Verdana";
    color: #E0FBFC;
    text-align: center;
    background: #5DA271;
    padding: 5px 10px;
    font-size: 200%;
    width:fit-content;
    margin-left: 400px;
    margin-top: 220px;
    position:absolute;
}

.about {
    font-family: "Verdana";
    color: #E0FBFC;
    text-align: center;
    background: #5DA271;
    padding: 5px 10px;
    font-size: 200%;
    margin-left: 530px;
    margin-top: 220px;
    position:absolute;
}

.account {
    font-family: "Verdana";
    color: #E0FBFC;
    text-align: center;
    background: #5DA271;
    padding: 5px 10px;
    font-size: 200%;
    margin-left: 662px;
    margin-top: 220px;
    position:absolute;
}