<html>
    <head>
        <link rel="stylesheet" href="CSS/style.css">
        <title>Meal-Mates</title>
    </head>
    <style>
        .home {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        th {
            padding-left: 50px;
            padding-right: 50px;
            text-align: center;
        }

        tr {
            border-bottom: 1px solid #133C55;
        }
    </style>
    
    <body>
        <img src="Images/MealMatesLogo.png" style="width:250px;height:250px">
        <button class= "home" onclick="document.location='account-log-in'"><b>Home</b></button>
        <button class= "about" onclick="document.location='about'"><b>About</b></button>
        <button class= "account" onclick="document.location='account-sign-up'"><b>Account</b></button>
        <br>
        <br>
        <br>
        <br>
        <label for="search"></label>
        <input type="text" id="search" search="Search" placeholder="Search">
        <br>
        <br>
        <br>
        <div style="margin-left: 30%">
            <table>
                <tr>
                    <th style="width:200px">Item</th>
                    <th style="width:200px">Description</th>
                    <th style="width:200px">All Allergens</th>
                    <th style="width:200px">Flagged Allergens</th>
                </tr>
                <tr>
                    <td>Item 1</td>
                    <td>description of item</td>
                    <td>all allergens in the item</td>
                    <td>whether the item is good for user</td>
                </tr>
            </table>
        </div>
    </body>
    <script>
        
    </script>
</html>